<!DOCTYPE html>

<html>
<head>
    <title>Shop Rem Cua</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/js")
    <script type="text/javascript">

        $(window).load(function () {
            $('#slider').nivoSlider({
                effect: 'random',                 // Specify sets like: 'fold,fade,sliceDown'
                slices: 15,                       // For slice animations
                boxCols: 8,                       // For box animations
                boxRows: 4,                       // For box animations
                animSpeed: 500,                   // Slide transition speed
                pauseTime: 3000,                  // How long each slide will show
                startSlide: 0,                    // Set starting Slide (0 index)
                directionNav: false,               // Next & Prev navigation
                controlNav: false,                 // 1,2,3... navigation
                controlNavThumbs: false,          // Use thumbnails for Control Nav
                pauseOnHover: true,               // Stop animation while hovering
                manualAdvance: false,             // Force manual transitions
                randomStart: false,               // Start on a random slide
            });
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <!---Begin Header-->
        <header>
            @RenderPage("_Header.cshtml")
        </header>
        <!--End Header-->
        <!---Begin Content-->
        <div class="main-content clearfix">
            <div class="wrapper-main">
                <div class="content-inner clearfix">
                    <div id="Breadcrum">
                        <div>
                            @{Html.RenderAction("_Slide", "Silde");}
                        </div>
                        @{Html.RenderAction("_ProductCategory", "ProductCategory");}
                    </div>
                </div>
                <div class="clearfix"></div>
                @RenderBody()
            </div>
        </div>
        <!--End Content-->
        <!---Begin Footer-->
        <footer>
            @RenderPage("_Footer.cshtml")
        </footer>
        <!--End Footer-->
    </div>
</body>
</html>
