@model RemCua.Entities.Models.Page
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListFeatureProduct = (IEnumerable<RemCua.Entities.Models.Product>)ViewBag.Feature;
    var ListNewPost = (IEnumerable<RemCua.Entities.Models.Post>)ViewBag.NewPost;
}

<div class="content-left">
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>@Model.Name</span></h3>
            </div>
            <div class="box-content">
                <div class="row-product">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="content-right">
    <div class="box-module">
        @{Html.RenderAction("_SupportOnline", "Home");}
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        @{Html.RenderAction("_Ads", "Home");}
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Sản Phẩm Bán Chạy</span></h3>
            </div>
            <div class="box-content">
                <div class="row-product-widget">
                    <ul class="product_list_widget">
                        @foreach (var item in ListFeatureProduct)
                        {
                            var url = "/chi-tiet/" + item.Alias + "-" + item.ID;
                            <li>
                                <a href="@url">
                                    <img src="@item.Image" />
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Tin Tức Mới Nhất</span></h3>
            </div>
            <div class="box-content">
                <div class="row-news-widget">
                    <ul class="news_list_widget">
                        @foreach (var item in ListNewPost)
                        {
                            var url = "/chi-tiet-tin/" + item.Alias + "-" + item.ID;
                            <li>
                                <a href="@url">
                                    <img src="@item.Image" />
                                </a>
                                <div class="new_info">
                                    <h3>
                                        <a href="@url">@item.Name</a>
                                        <span class="new-info-update">
                                            @item.CreatedDate.Value.ToString("dd/MM/yyyy")
                                            <i class="fa fa-eye"></i>
                                            @item.ViewCount
                                        </span>
                                    </h3>

                                </div>

                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>