@model RemCua.Entities.Models.Page
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListFeatureProduct = (IEnumerable<RemCua.Entities.Models.Product>)ViewBag.Feature;
    var ListNewPost = (IEnumerable<RemCua.Entities.Models.Post>)ViewBag.NewPost;
}

<div class="content-left">
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>@Model.Name</span></h3>
            </div>
            <div class="box-content">
                <div class="row-product">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="content-right">
    <div class="box-module">
        @{Html.RenderAction("_SupportOnline", "Home");}
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Mạng Xã Hội</span></h3>
            </div>
            <div class="box-content">
                <div class="row-module_opinion">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=597788163717802";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-width="240" data-height="230" data-href="https://www.facebook.com/sgiaitri/" data-tabs="false" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/sgiaitri/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/sgiaitri/">Shop Giải Trí</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        @{Html.RenderAction("_Ads", "Home");}
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Sản Phẩm Bán Chạy</span></h3>
            </div>
            <div class="box-content">
                <div class="row-product-widget">
                    <ul class="product_list_widget">
                        @foreach (var item in ListFeatureProduct)
                        {
                            var url = "/chi-tiet/" + item.Alias + "-" + item.ID;
                            <li>
                                <a href="@url">
                                    <img src="@item.Image" />
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Tin Tức Mới Nhất</span></h3>
            </div>
            <div class="box-content">
                <div class="row-news-widget">
                    <ul class="news_list_widget">
                        @foreach (var item in ListNewPost)
                        {
                            var url = "/chi-tiet-tin/" + item.Alias + "-" + item.ID;
                            <li>
                                <a href="@url">
                                    <img src="@item.Image" />
                                </a>
                                <div class="new_info">
                                    <h3>
                                        <a href="@url">@item.Name</a>
                                        <span class="new-info-update">
                                            @item.CreatedDate.Value.ToString("dd/MM/yyyy")
                                            <i class="fa fa-eye"></i>
                                            @item.ViewCount
                                        </span>
                                    </h3>

                                </div>

                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>