
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ListNewProduct = (IEnumerable<RemCua.Entities.Models.Product>)ViewBag.NewProduct;
    var ListFeatureProduct = (IEnumerable<RemCua.Entities.Models.Product>)ViewBag.Feature;
    var Category = (IEnumerable<RemCua.Entities.Models.ProductCategory>)ViewBag.Category;
    var ListNewPost = (IEnumerable<RemCua.Entities.Models.Post>)ViewBag.NewPost;
}
<div class="content-left">
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Sản Phẩm Mới Nhất</span></h3>
            </div>
            <div class="box-content">
                <div class="row-product">
                    @foreach (var item in ListNewProduct)
                    {
                        var url = "/chi-tiet/" + item.Alias + "-" + item.ID;
                        <div class="box-product">
                            <a class="image" href="@url" title="View more">
                                <img src="@item.Image" />
                            </a>
                            <h3 class="name"><a href="@url" title="">@item.Name</a></h3>
                            <p class="wrap_price"> <span class="price">@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0")) VNĐ</span> </p>
                            <a href="javascript:;" onclick="addProduct(@item.ID)" class="btn-class btn-cart"><span><i class="fa fa-shopping-cart"></i>Đặt hàng</span> </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    @foreach (var category in Category)
    {
        <div class="box-module">
            <div>
                <div class="title_module">
                    <h3 class=""><span>@category.Name</span></h3>
                </div>
                <div class="box-content">
                    <div class="row-product">
                        @foreach (var item in category.Products.OrderByDescending(x => x.CreatedDate).Take(4))
                        {
                            var url = "/chi-tiet/" + item.Alias + "-" + item.ID;
                            <div class="box-product">
                                <a class="image" href="@url" title="View more">
                                    <img src="@item.Image" />
                                </a>
                                <h3 class="name"><a href="@url" title="">@item.Name</a></h3>
                                <p class="wrap_price"> <span class="price">@(item.Price == 0 ? "Liên hệ" : item.Price.ToString("N0")) VNĐ</span> </p>
                                <a href="javascript:;" onclick="addProduct(@item.ID)" class="btn-class btn-cart"><span><i class="fa fa-shopping-cart"></i>Đặt hàng</span> </a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    }
</div>
<div class="content-right">
    <div class="box-module">
        @{Html.RenderAction("_SupportOnline", "Home");}
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Mạng Xã Hội</span></h3>
            </div>
            <div class="box-content">
                <div class="row-module_opinion">
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=597788163717802";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-page" data-width="240" data-height="230" data-href="https://www.facebook.com/sgiaitri/" data-tabs="false" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/sgiaitri/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/sgiaitri/">Shop Giải Trí</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        @{Html.RenderAction("_Ads", "Home");}
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Sản Phẩm Bán Chạy</span></h3>
            </div>
            <div class="box-content">
                <div class="row-product-widget">
                    <ul class="product_list_widget">
                        @foreach (var item in ListFeatureProduct)
                        {
                            var url = "/chi-tiet/" + item.Alias + "-" + item.ID;
                        <li>
                            <a href="@url">
                                <img src="@item.Image" />
                                <span>@item.Name</span>
                            </a>
                        </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Tin Tức Mới Nhất</span></h3>
            </div>
            <div class="box-content">
                <div class="row-news-widget">
                    <ul class="news_list_widget">
                        @foreach (var item in ListNewPost)
                        {
                            var url = "/tin-tuc/" + item.Alias + "-" + item.ID;
                            <li>
                                <a href="@url">
                                    <img src="@item.Image" />
                                </a>
                                <div class="new_info">
                                    <h3>
                                        <a href="@url">@item.Name</a>
                                        <span class="new-info-update">
                                            @item.CreatedDate.Value.ToString("dd/MM/yyyy")
                                            <i class="fa fa-eye"></i>
                                            @item.ViewCount
                                        </span>
                                    </h3>

                                </div>

                            </li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="box-module">
        <div>
            <div class="title_module">
                <h3 class=""><span>Ý Kiến Khách Hàng</span></h3>
            </div>
            <div class="box-content">
                <div class="row-module_opinion">
                    <p>Bạn đánh giá thế nào về chất lượng phục vụ của chúng tôi</p>
                    <div class="radio">
                        <label>
                            <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            Rất hài lòng
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            Hài lòng
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            Không hài lòng
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                            Yếu Kém
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="text-center box-margion-top">
                            <input type="button" class="btn-opinion" value="Bình chọn">
                            <input type="button" class="btn-result" value="Kết quả">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>

<link href="~/Content/Admin/assets/toastr/toastr.css" rel="stylesheet" />
<script src="~/Content/Admin/assets/toastr/toastr.js"></script>
<script type="text/javascript">
    function addProduct(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddCart", "Cart")',
            data: { productID: id, quantity: 1 },
            success: function (data) {
                toastr.success('Thêm Vào Giỏ Hàng Thành Công', 'Thành Công')
            },
        });
    }
</script>